filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - /var/log/nginx/access.log
      - /var/log/nginx/error.log

output.elasticsearch:
  hosts: ["10.130.0.7:9200"]

setup.kibana:
  host: "10.128.0.25:5601"